.git
build/
*.sist2
node_modules/
sist2-vue/dist/
sist2-vue/node_modules/
sist2-admin/frontend/dist/
sist2-admin/frontend/node_modules/
vcpkg_installed/
vcpkg-manifest-install.log
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
third-party/libscan/libscan-test-files/
third-party/libscan/CMakeFiles/
third-party/libscan/third-party/ext_libwpd/
third-party/libscan/third-party/ext_ffmpeg/
sist2
sist2_debug
sist2-*-linux*
dist-static/
