.git
build/
*.sist2
node_modules/
sist2-vue/dist/
sist2-vue/node_modules/
sist2-admin/frontend/dist/
sist2-admin/frontend/node_modules/
sist2-admin/node_modules/
sist2-admin/data/
vcpkg_installed/
vcpkg-manifest-install.log
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
third-party/libscan-test-files/
sist2
sist2_debug
sist2-*-linux*
dist-static/
